/* ===================================================
>>> TABLE OF CONTENTS:
======================================================
  1. Flat Icon
  2. Iconmoon Icon

 
=================================================== */


/*---------------------------------------------------------------
  2. Flat Icon
---------------------------------------------------------------*/
@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?b66957d660bcc55c5e858f139c964a40") format("truetype"),
url("../fonts/flaticon.woff?b66957d660bcc55c5e858f139c964a40") format("woff"),
url("../fonts/flaticon.woff2?b66957d660bcc55c5e858f139c964a40") format("woff2"),
url("../fonts/flaticon.eot?b66957d660bcc55c5e858f139c964a40#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?b66957d660bcc55c5e858f139c964a40#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-add-to-cart:before {
    content: "\f101";
}
.flaticon-add-user-1:before {
    content: "\f102";
}
.flaticon-add-user:before {
    content: "\f103";
}
.flaticon-add:before {
    content: "\f104";
}
.flaticon-airplane:before {
    content: "\f105";
}
.flaticon-apartment-1:before {
    content: "\f106";
}
.flaticon-apartment:before {
    content: "\f107";
}
.flaticon-armchair:before {
    content: "\f108";
}
.flaticon-bathtub:before {
    content: "\f109";
}
.flaticon-bed-1:before {
    content: "\f10a";
}
.flaticon-bed:before {
    content: "\f10b";
}
.flaticon-beds:before {
    content: "\f10c";
}
.flaticon-book:before {
    content: "\f10d";
}
.flaticon-branch:before {
    content: "\f10e";
}
.flaticon-building:before {
    content: "\f10f";
}
.flaticon-buy-home:before {
    content: "\f110";
}
.flaticon-buy-online:before {
    content: "\f111";
}
.flaticon-call-center-agent:before {
    content: "\f112";
}
.flaticon-car:before {
    content: "\f113";
}
.flaticon-chat:before {
    content: "\f114";
}
.flaticon-clean:before {
    content: "\f115";
}
.flaticon-deal-1:before {
    content: "\f116";
}
.flaticon-deal:before {
    content: "\f117";
}
.flaticon-dining-table-with-chairs:before {
    content: "\f118";
}
.flaticon-double-bed:before {
    content: "\f119";
}
.flaticon-dryer:before {
    content: "\f11a";
}
.flaticon-dumbbell:before {
    content: "\f11b";
}
.flaticon-dumbell:before {
    content: "\f11c";
}
.flaticon-excavator:before {
    content: "\f11d";
}
.flaticon-expand:before {
    content: "\f11e";
}
.flaticon-fast-forward-double-right-arrows-symbol:before {
    content: "\f11f";
}
.flaticon-financial:before {
    content: "\f120";
}
.flaticon-garage-1:before {
    content: "\f121";
}
.flaticon-garage:before {
    content: "\f122";
}
.flaticon-google-docs:before {
    content: "\f123";
}
.flaticon-heart-1:before {
    content: "\f124";
}
.flaticon-heart:before {
    content: "\f125";
}
.flaticon-home-1:before {
    content: "\f126";
}
.flaticon-home-2:before {
    content: "\f127";
}
.flaticon-home-3:before {
    content: "\f128";
}
.flaticon-home:before {
    content: "\f129";
}
.flaticon-hospital:before {
    content: "\f12a";
}
.flaticon-house-1:before {
    content: "\f12b";
}
.flaticon-house-2:before {
    content: "\f12c";
}
.flaticon-house-3:before {
    content: "\f12d";
}
.flaticon-house-4:before {
    content: "\f12e";
}
.flaticon-house-key:before {
    content: "\f12f";
}
.flaticon-house:before {
    content: "\f130";
}
.flaticon-key-1:before {
    content: "\f131";
}
.flaticon-key:before {
    content: "\f132";
}
.flaticon-left-quote-1:before {
    content: "\f133";
}
.flaticon-left-quote:before {
    content: "\f134";
}
.flaticon-left-quotes-sign:before {
    content: "\f135";
}
.flaticon-location:before {
    content: "\f136";
}
.flaticon-loupe:before {
    content: "\f137";
}
.flaticon-mall:before {
    content: "\f138";
}
.flaticon-maps-and-location:before {
    content: "\f139";
}
.flaticon-measure:before {
    content: "\f13a";
}
.flaticon-metro:before {
    content: "\f13b";
}
.flaticon-mortarboard:before {
    content: "\f13c";
}
.flaticon-mortgage:before {
    content: "\f13d";
}
.flaticon-mountain:before {
    content: "\f13e";
}
.flaticon-office:before {
    content: "\f13f";
}
.flaticon-official-documents:before {
    content: "\f140";
}
.flaticon-online-shop:before {
    content: "\f141";
}
.flaticon-operator:before {
    content: "\f142";
}
.flaticon-package:before {
    content: "\f143";
}
.flaticon-park:before {
    content: "\f144";
}
.flaticon-parking:before {
    content: "\f145";
}
.flaticon-pencil:before {
    content: "\f146";
}
.flaticon-phone-call:before {
    content: "\f147";
}
.flaticon-pin:before {
    content: "\f148";
}
.flaticon-plane:before {
    content: "\f149";
}
.flaticon-plus:before {
    content: "\f14a";
}
.flaticon-quotation:before {
    content: "\f14b";
}
.flaticon-right-arrow:before {
    content: "\f14c";
}
.flaticon-right-quote:before {
    content: "\f14d";
}
.flaticon-salad:before {
    content: "\f14e";
}
.flaticon-secure-shield:before {
    content: "\f14f";
}
.flaticon-secure:before {
    content: "\f150";
}
.flaticon-select:before {
    content: "\f151";
}
.flaticon-sewing:before {
    content: "\f152";
}
.flaticon-slider:before {
    content: "\f153";
}
.flaticon-slumber:before {
    content: "\f154";
}
.flaticon-square-shape-design-interface-tool-symbol:before {
    content: "\f155";
}
.flaticon-stethoscope:before {
    content: "\f156";
}
.flaticon-support:before {
    content: "\f157";
}
.flaticon-swimming:before {
    content: "\f158";
}
.flaticon-toilet:before {
    content: "\f159";
}
.flaticon-train:before {
    content: "\f15a";
}
.flaticon-user-1:before {
    content: "\f15b";
}
.flaticon-user:before {
    content: "\f15c";
}
.flaticon-vegetable:before {
    content: "\f15d";
}
.flaticon-washer:before {
    content: "\f15e";
}


/*---------------------------------------------------------------
  3. Icomoon Icon
---------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3aun5s');
  src:  url('../fonts/icomoon.eot?3aun5s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3aun5s') format('truetype'),
    url('../fonts/icomoon.woff?3aun5s') format('woff'),
    url('../fonts/icomoon.svg?3aun5s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
.icon-star-1:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e903";
}
.icon-remove:before {
  content: "\e904";
}
.icon-compare:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e90b";
}
.icon-placeholder:before {
  content: "\e90c";
}
.icon-call:before {
  content: "\e90d";
}
.icon-left-arrow:before {
  content: "\e90e";
}
.icon-next:before {
  content: "\e90f";
}
.icon-arrows:before {
  content: "\e910";
}
.icon-down-arrow:before {
  content: "\e911";
}
.icon-mechanic:before {
  content: "\e912";
}
.icon-car-service:before {
  content: "\e913";
}
.icon-key:before {
  content: "\e914";
}
.icon-repair:before {
  content: "\e915";
}
.icon-car-parts:before {
  content: "\e916";
}
.icon-car:before {
  content: "\e917";
}
.icon-exterior:before {
  content: "\e918";
}
.icon-car-parts-1:before {
  content: "\e919";
}
.icon-maintenance:before {
  content: "\e91a";
}
.icon-car-1:before {
  content: "\e91b";
}
.icon-car-parts-2:before {
  content: "\e91c";
}
.icon-hand:before {
  content: "\e91d";
}
.icon-accumulator:before {
  content: "\e91e";
}
.icon-car-parts-3:before {
  content: "\e91f";
}
.icon-repair-1:before {
  content: "\e920";
}
.icon-carwash:before {
  content: "\e921";
}
.icon-car-parts-4:before {
  content: "\e922";
}
.icon-automobile:before {
  content: "\e923";
}
.icon-polisher:before {
  content: "\e924";
}
.icon-car-parts-5:before {
  content: "\e925";
}
.icon-gasoline:before {
  content: "\e926";
}
.icon-seat:before {
  content: "\e927";
}
.icon-car-parts-6:before {
  content: "\e928";
}
.icon-car-2:before {
  content: "\e929";
}
.icon-soap:before {
  content: "\e92a";
}
.icon-car-parts-7:before {
  content: "\e92b";
}
.icon-disc-brake:before {
  content: "\e92c";
}
.icon-car-parts-8:before {
  content: "\e92d";
}
.icon-wheel:before {
  content: "\e92e";
}
.icon-car-parts-9:before {
  content: "\e92f";
}
.icon-speedometer:before {
  content: "\e930";
}
.icon-maintenance-1:before {
  content: "\e931";
}
.icon-shopping-bags:before {
  content: "\e932";
}
.icon-shopping-cart:before {
  content: "\e933";
}
.icon-view:before {
  content: "\e934";
}
.icon-phone-call:before {
  content: "\e935";
}
.icon-calendar:before {
  content: "\e936";
}
.icon-calendar-1:before {
  content: "\e937";
}
.icon-right-arrow-angle:before {
  content: "\e938";
}
.icon-down-arrow-1:before {
  content: "\e939";
}
.icon-up-arrow-angle:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e93b";
}
.icon-share:before {
  content: "\e93c";
}
.icon-left-arrow-1:before {
  content: "\e93d";
}
.icon-quotation:before {
  content: "\e93e";
}
.icon-user:before {
  content: "\e93f";
}
.icon-tag:before {
  content: "\e940";
}
.icon-play:before {
  content: "\e941";
}
.icon-done:before {
  content: "\e942";
}
.icon-electric-car:before {
  content: "\e943";
}
.icon-cog:before {
  content: "\e944";
}
.icon-car-3:before {
  content: "\e945";
}
.icon-tyre:before {
  content: "\e946";
}
.icon-wheel-1:before {
  content: "\e947";
}
.icon-tire:before {
  content: "\e948";
}
.icon-tire-1:before {
  content: "\e949";
}
.icon-flat-tire:before {
  content: "\e94a";
}
.icon-pressure:before {
  content: "\e94b";
}
.icon-right-quote:before {
  content: "\e94c";
}
.icon-quote:before {
  content: "\e94d";
}
.icon-quotation-1:before {
  content: "\e94e";
}
.icon-quote-1:before {
  content: "\e94f";
}
.icon-open:before {
  content: "\e950";
}
.icon-options:before {
  content: "\e951";
}
.icon-location:before {
  content: "\e952";
}
.icon-edit:before {
  content: "\e953";
}
.icon-award:before {
  content: "\e954";
}
.icon-menu:before {
  content: "\e955";
}
.icon-categories:before {
  content: "\e956";
}
.icon-menu-1:before {
  content: "\e957";
}
.icon-menu-2:before {
  content: "\e958";
}
.icon-bookmark:before {
  content: "\e959";
}
.icon-bookmark-1:before {
  content: "\e95a";
}
.icon-reply:before {
  content: "\e95b";
}
.icon-reply-1:before {
  content: "\e95c";
}
.icon-globe:before {
  content: "\e95d";
}
.icon-clock:before {
  content: "\e95e";
}
.icon-alarm-clock:before {
  content: "\e95f";
}




