/* ====================================================
    Responsive
==================================================== */
/* Desktop 1200 - up */
/* @media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
} */

/* Normal desktop :992px. (Laptop 14") */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Global */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

}


/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    /* Global */
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 15px;
    }

    p {
        font-size: 14px;
    }

}


/* small mobile :320px. */
@media (max-width: 767px) {

    /* Global */
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 17px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

}

.image-titles {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: right;
    color: white;
}

.image-titles h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.image-titles h4 {
    font-size: 1.5rem;
}

.house-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.house-card img {
    height: 200px;
    object-fit: cover;
}

.house-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.house-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.house-card:hover {
    transform: translateY(-5px);
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.price-value {
    color: #28a745;
    /* Adjust color as needed */
    font-weight: 800;
    font-size: 1.8rem;
}

.price-type {
    font-size: 1rem;
    color: #6c757d;
}

.view-listing-btn {
    background-color: #0033cc;
    /* Adjust color as needed */
    border-color: #0033cc;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1rem;
}

.house-type {
    font-size: 1.2rem;
    color: #000;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
}

.rent-type {
    font-size: 0.85rem;
    color: #6c757d;
    text-align: center;
}